@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script:wght@500&family=Playfair+Display&family=Roboto:wght@300&display=swap');

.AboutBack{
    width: 100%;
    height: 40rem;
    margin-top: 5%;

}
.aboutHead{
    display: flex;
    flex-direction: column;

}
.about{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
}
.abtpersonal{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: blueviolet;
    /* text-decoration: underline; */
    font-family: 'Roboto', sans-serif;

}
.abtknow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    color: black;
    margin-top: 1%;
    
}
.abutdata{
    display: flex;
    flex-direction: row;
    padding: 1% 5%;
    justify-content: center;
    align-items: center;
}
.abutLink{
    width: 40%;
    margin-top: 2%;
    
}
.aboutpara{
    width: 50%;
    margin-top: 2%;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: "Montserrat";
    line-height: 40px;
    color: #61677b;
}