.NavbarBg{
    width: 100%;
    height: 750px;
    /* background-color:#fefefd; */
   
}
.Navhead{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    /* position: relative; */
    background-color:#fefefd;
    z-index:1;
    
}
.NavImg{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 6%;
    top: 5%;

}
.Navleftdiv{
    display: flex;
    position: absolute;
    right: 0%;
    width: 60%;
    
}

.Navlist{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type:none;
    justify-content: space-around;
    color:#4e4e54; 
    /* background-color: #4e4e54; */
    margin-top: 15px;
    font-family: Phantomsans, sans-serif;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;

}
.Navlist li:nth-child(1):hover{
    color: rgb(96, 94, 228);
        cursor: pointer;
}
.Navlist li:nth-child(2):hover{
    color: rgb(96, 94, 228);
    cursor: pointer;
}.Navlist li:nth-child(3):hover{
    color: rgb(96, 94, 228);
    cursor: pointer;
}.Navlist li:nth-child(4):hover{
    color: rgb(96, 94, 228);
    cursor: pointer;
}.Navlist li:nth-child(5):hover{
    color: rgb(96, 94, 228);
    cursor: pointer;
}
