@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap');
.Section{
    width: 80%;
    height: 550px;
    /* border: 1px solid red; */
    background-color: #2b2c2e;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    box-shadow: 0px 0px 63px 0px rgba(0,0,0,0.46);

}
.Sectionleft{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* border: 1px solid red; */
}
.Sectionright{
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    /* border: 1px solid red; */
}
span{
  font-size: 33px;
}
span::before {
    content: "</Student>";
    animation: animate infinite 3s;
    padding-left: 10px;
    
}

@keyframes animate {

    0% {
        content: "</Devloper>";
    }

    50% {
        content: "</Desinger>";
    }

    75% {
        content: "</Learner>";
    }
}

.Line1{
    color: azure;
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Dancing Script', cursive;

}
.Line2{
    color: azure;
    text-align: left;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Dancing Script', cursive;

}
.Line3{
    color: azure;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 30px;
    font-family: 'Cormorant Garamond', serif;

    

}
.Paraleft{
    position: absolute;
    width: 40%;
    left: 25%;
    top: 10%;
    transform: translateX(-50%);
}
.MyImg{
    width: 20vw;
    height: auto;
    border-radius: 4%;
}

.Pararight{
    position: absolute;
    right: 25%;
    top: 10%;
    transform: translateX(50%);
    border-radius: 34px;
    background: #2b2c2e;
    box-shadow:  17px 17px 34px #1e1f20,
             -17px -17px 34px #38393c;
}
.aButt{
    display: flex;

}
/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}
@media (min-width:950px) and (max-width: 1200px) {
  .MyImg{
    width: 25vw;
    height: 450px;
  }
 
}
@media (min-width:350px) and (max-width: 950px) {
  .MyImg{
    width: 25vw;
    height: auto;
  }
  .Section{
    width: 90%;
    height: 400px;
  }
  .Line1{
    color: azure;
    text-align: left;
    font-size: 30px;
    margin-top: -20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Dancing Script', cursive;

}
.Line2{
    color: azure;
    text-align: left;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Dancing Script', cursive;

}
.Line3{
    color: azure;
    text-align: left;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 30px;
    font-family: 'Cormorant Garamond', serif;

}
.span::before{
  font-size: 10px !important;
}
.button-77 {
  padding: 0px 18px;
  font-size: 12px;
  min-height: 44px;
 
}
.aButt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  /* border: 1px solid red; */
}
}
@media (min-width:350px) and (max-width: 488px) {
  .Line3{
    color: azure;
    text-align: left;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 30px;
    font-family: 'Cormorant Garamond', serif;
    width: 80vw;

}
}