.footerback{
    background-color: black;
    color: white;
    padding: 20px;
}
.name{
    font-size: 19px;
    letter-spacing: 1.5px;

    font-family: 'Cormorant Garamond', serif;

}
.name p{
    font-size: 20px;
    margin-top: 0px;
    letter-spacing: 1.5px;
}
.connect{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;

}
.down{
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1.5px;
    justify-content: center;
    padding: 20px 10px 0px 10px;
}